@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Josefin+Sans:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
:root {

/* Pallet 1 */
--c-green-light: #606C38;
--c-green-dark: #283618;
--c-white: #FEFAE0;
--c-orange-light: #DDA15E;
--c-orange-dark: #BC6C25;

/* Pallet 2 */
--c-red: #6F1D1B;
--c-beige:#BB9457;
--c-beige-light:#FFE6A7;
--c-brown:#432818;
--c-brown-light:#99582A;

/* Pallet 3 */

--c-blue-dark:#0D1B2A;
--c-blue:#1B263B;
--c-blue-light:#415A77;
--c-blue-lighter:#778DA9;
--c-grey:#E0E1DD;
--c-grey-light:#fbfcf785;


--f-josefin-sans: 'Josefin Sans', sans-serif;
--f-messiri: 'El Messiri', sans-serif;
}

/* semantic color variables for this project */
:root {
  /* Pallet 1 */

  /* --color-background: var(--c-white);
  --color-background-spanner: var(--c-orange-light);
  --color-background-spanner-alt: var(--c-green-dark);
  --color-background-nav: var(--c-green-light);

  --color-text: black;

  --font-family: var(--f-josefin-sans);
  --font-family-header: var(--f-messiri);
  --font-color: black;
  --font-color-light: var(--c-white);  */
 

  /* Pallet 2 */

  
  /* --color-background: var(--c-beige-light);
  --color-background-spanner: var(--c-beige);
  --color-background-spanner-alt: var(--c-brown-light);
  --color-background-nav: var(--c-brown);

  --color-text: black;

  --font-family: var(--f-josefin-sans);
  --font-family-header: var(--f-messiri);
  --font-color: black;
  --font-color-light: var(--c-white); 
  */

  /* Pallet 3 */

  --color-background: var(--c-grey);
  --color-background-spanner: var(--c-blue-lighter);
  --color-background-spanner-alt: var(--c-blue-light);
  --color-background-nav: var(--c-blue);

  --color-text: black;

  --font-family: var(--f-josefin-sans);
  --font-family-header: var(--f-messiri);
  --font-color: black;
  --font-color-light: var(--c-white); 
  
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2); */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: var(--font-family);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
