@import './base.css';

#app {
  max-width: 100vw;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.25s ease-in-out;
  color:var(--c-blue-light);
}

@media (hover: hover) {
  a:hover {
    transform: scale(1.15);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    align-items: flex-start;
  }
}
